VERIFY_TOKEN=your_webhook_verify_token
ACCESS_TOKEN=your_meta_whatsapp_access_token
PHONE_NUMBER_ID=your_phone_number_id

DB_HOST=automation.unlayr.co.in
DB_PORT=3306
DB_NAME=auto_ayushdb
DB_USER=auto_ayushuser
DB_PASSWORD=ayush@123

# Optional
# PORT=3000
VERIFY_TOKEN=CarBot2025
ACCESS_TOKEN=EAAXHTR0idusBQAIVYLkOgq5NOyicCiBek1WYOuDZAMzhwysx59VOdtq0jFAQjO2RmsaoyJjOLokRzgH04vvKLuTbFGFK6ms9V7oPC38P3veAZCiIZBY2acyAYAZBzr2zzCLdZBuqSCsuM1gFQSwg8y9KZC53pBB0pMET0pgrYz1VsT4NSfjsPaqZC4z47hhj1ZAd82aE9ZB7yAaUZCoXtcLN4cUfZCMKjBbxngFnofc.
PHONE_NUMBER_ID=789143067615427
VERIFY_TOKEN=12345
ACCESS_TOKEN=EAAXHTR0idusBQAIVYLkOgq5NOyicCiBek1WYOuDZAMzhwysx59VOdtq0jFAQjO2RmsaoyJjOLokRzgH04vvKLuTbFGFK6ms9V7oPC38P3veAZCiIZBY2acyAYAZBzr2zzCLdZBuqSCsuM1gFQSwg8y9KZC53pBB0pMET0pgrYz1VsT4NSfjsPaqZC4z47hhj1ZAd82aE9ZB7yAaUZCoXtcLN4cUfZCMKjBbxngFnofc
PHONE_NUMBER_ID=789143067615427

DB_HOST=automation.unlayr.co.in
DB_PORT=3306
DB_NAME=auto_ayushdb
DB_USER=auto_ayushuser
DB_PASSWORD=ayush@123

# Optional
# PORT=3000
